* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/821392922485981204/eddit.png");
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  height: 5rem;
  width: 62rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  z-index: 2;
}

.topBar {
  position: absolute;
  background-color: rgba(46, 139, 86, 0.753);
  width: 64.5rem;
  /* left: 50%;
  margin-left: -32.25rem; */
  margin-top: 0.2rem;
  height: 4.5rem;
  display: flex;
  z-index: -1;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.733);
  border-radius: 5px;
}

.nav p {
  font-size: 1.5rem;
  font-weight: 100;
  margin: auto;
  margin-right: 2rem;
  text-shadow: 2px 2px 2px black;
}

.nav p a {
  text-decoration: none;
  color: rgb(233, 220, 161);
  transition: 0.3s;
}

.nav p a:hover {
  color: rgb(161, 220, 224)
}

.colorBG {
  position: absolute;
  height: 1175px; 
  width: 65rem;
  display: flex;
  background-color: rgba(73, 66, 29, 0.911);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.609);
  z-index: 0;
  border: 5px solid rgba(0, 0, 0, 0.075);
}

#title {
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Redressed', cursive;
  text-shadow: rgb(0, 0, 0) 0px 4px 2px;
  display: flex;
  margin: auto;
  margin-left: 0rem;
  margin-top: 0.6rem;
  color: rgb(235, 227, 204);
}

.plus {
  color: rgb(161, 220, 224);
}

#titleShield {
  background-image: url("https://wiki.guildwars.com/images/e/e1/BattleIslesMission.png");
  background-size: contain;
  height: 73px;
  width: 73px;
  margin-top: -0.35rem;
}

#hamburger {
  font-size: 3rem;
  margin: auto;
  margin-right: 1rem;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  display: none;
}

/* .post1 {
  margin: auto;
  background-image: url("https://cdn.discordapp.com/attachments/309107283911245825/819352815565668362/Ascalon_waymaker_1.png");
  background-size: cover;
  width: 20rem;
  height: 20.5rem;
  margin-left: -19.7rem;
  margin-top: 8rem;
  z-index: -1;
} */

.credit {
  position: absolute;
  left: 50%;
  margin-top: 68.75rem;
  font-size: 0.8rem;
  z-index: 1;
  background-color: rgba(46, 139, 86, 0.753);
  width: 64.5rem;
  height: 4.5rem;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.699);
}

.credit a {
  margin: auto;
  text-decoration: none;
}

#main {
  width: 58.3rem;
  height: 750px;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: auto;
  margin-top: -4.5rem;
  z-index: 1;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.589);
}


.shield {
  background-image: url("https://cdn.discordapp.com/attachments/309107283911245825/819362549945335858/250px-Crude_Shield.png");
  background-size: contain;
  width: 8rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  z-index: 10;
}

.overMap {
  width: 100%;
  height: 100%;
  background-image: url("https://preview.redd.it/fcyegri4vgl41.jpg?width=1200&format=pjpg&auto=webp&s=5df589ceca21a0a02bcf6a233201db5e1fe91889");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 0rem;
  border: 5px solid rgba(216, 189, 127, 0.76);
}

.overNames {
  position: absolute;
  width: 939px;
  height: 750px;
  border-radius: 5px;
}

.towns {
  text-shadow: 3px 3px 2px black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
}

.towns p {
  color: rgb(233, 220, 161);
}

#ascalon {
  margin-left: 33rem;
  margin-top: 24rem;
}

#ashfordAbbey {
  margin-left: 25.5rem;
  margin-top: 29.5rem;
} 

#baradinEstate {
  margin-left: 15.7rem;
  margin-top: 28.3rem;
}

#fortRanik {
  margin-left: 43.5rem;
  margin-top: 35.5rem;
}

#foblesFair {
  margin-left: 23rem;
  margin-top: 36.5rem;
}

.citycon {
  background-image: url("https://wiki.guildwars.com/images/0/0e/TownIcon.png");
  background-repeat: no-repeat;
  width: 57px;
  height: 57px;
  margin: auto;
  margin-left: 2rem;
}

.towncon {
  background-image: url("https://wiki.guildwars.com/images/2/23/OutpostIcon.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: auto;
}

/* content */

.content {
  width: 54.5%;
  margin: auto;
  margin-top: 2rem;
  height: 100%;
  border: 5px solid rgba(216, 189, 127, 0.76);
  background-color: black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.content h1 {
  margin: auto;
  margin-left: 2rem;
  width: fit-content;
  padding: 1rem;
}

.contentSectionOne {
  display: flex;
}

.contentSectionOne p {
  width: 30rem;
  margin: auto;
  margin-top: 1rem;
}

.contentSectionOneImg {
  height: 40rem;
  width: 20rem;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06819abc-8032-472f-8292-deb057e1c3fc/d57qhtd-2e3ea745-eba9-4345-90bf-84e92668b8c1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMDY4MTlhYmMtODAzMi00NzJmLTgyOTItZGViMDU3ZTFjM2ZjXC9kNTdxaHRkLTJlM2VhNzQ1LWViYTktNDM0NS05MGJmLTg0ZTkyNjY4YjhjMS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.2XN4_yonoxgXtOzP5kiex7bgmEeH1dl4G-tPtFkenXo");
  background-size: cover;
  margin: auto;
  margin-top: 1rem;
}

/* story */

.story {
  width: 54.5%;
  height: 50rem;
  margin: auto;
  border: 5px solid  rgba(73, 66, 29, 0.911);
  background-color: black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* map nav */

.mapNav {
  margin: auto;
  margin-top: 1rem;
  z-index: 1;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.arrows {
  width: fit-content;
  margin: auto;
  margin-top: 0;
}

#arrowLeft {
  font-size: 5rem;
  transform: rotate(180deg);
  margin-right: 1rem;
  cursor: pointer;
  text-shadow: 0px 0px 5px black;
  transition: 0.1s;
}

#arrowLeft:hover {
  text-shadow: 0px 0px 15px black;
  margin-right: 1.1rem;
}

#arrowRight {
  font-size: 5rem;
  margin-left: 1rem;
  cursor: pointer;
  text-shadow: 0px 0px 5px black;
  transition: 0.1s;
}

#arrowRight:hover {
  text-shadow: 0px 0px 15px black;
  margin-left: 1.1rem;
}

#mapNavText {
  margin: auto;
  font-family: 'Redressed', cursive;
  text-shadow: rgb(0, 0, 0) 0px 2px 2px;
  font-size: 2rem;
}

.mapNav a {
 text-decoration: none;
 font-size: 1.5rem;
 margin-left: 1rem;
 margin-right: 0rem;
 transition: 0.15s;
 padding-bottom: 1rem;
}

/* new stuff */

/* explainers */
#explainers {
  position: absolute;
  border: 1px solid rgba(165, 42, 42, 0.459);
  background-color: tan;
  width: 40rem;
  height: 7.7rem;
  margin: auto;
  left: 50%;
  margin-left: -20rem;
  margin-top: 38rem;
  display: grid;
  grid-template-areas: "r t"
                       "r b";
  z-index: 3;
  opacity: 0;
  transition: 1s;
}

#rurik {
  height: 7rem;
  width: 7rem;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/819379558520193024/er2.gif");
  margin: auto;
  margin-left: 0.35rem;
  grid-area: r;
}

.explainersText {
  grid-area: t;
  margin-top: 0.3rem;
  width: 30rem;
  height: 4.8rem;
  margin-right: 0.3rem;
  color: rgb(26, 26, 26);

}

.explainersButtons {
  grid-area: b;
  margin-bottom: 1rem;
}

.explainersButtons button {
  color: black;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: white;
}
.explainersButtons button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.byeButton {
  margin-left: 16.5rem;
}

#serenityText {
  position: absolute;
  margin-left: 46rem;
  margin-top: 27rem;
  z-index: 5;
  cursor: pointer;
}

#serenityTemple {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/819366113451573298/outline1.png");
  width: 18rem;
  height: 21rem;
  margin-top: 20rem;
  margin-left: 42rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

#surmiaText {
  position: absolute;
  margin-left: 42rem;
  margin-top: 11rem;
  z-index: 5;
  cursor: pointer;
}

#surmia {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/820029281349533706/outline2.png");
  width: 20rem;
  height: 19rem;
  margin-top: 2rem;
  margin-left: 36rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

.innerHover {
  height: 10rem;
  width: 12rem;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  z-index: 4;
}

.innerHover p {
  margin: auto;
}

.hoverContent {
  font-size: 0;
}

/* LORE */



/* problems start after 130 width */
@media (min-width: 1031px) {
    .colorBG {
        left: 50%;
        margin-left: -32.5rem;
    }
    .topBar {
      left: 50%;
      margin-left: -32.25rem;
    }
    .credit {
      margin-left: -32.25rem;
    }
}
@media (max-width: 1030px) {
  .wrapper {
    width: 65rem;
  }
  .topBar {
    width: 62rem;
  }
  .credit {
    left: 4%;
    width: 61rem;
  }
  
} 