* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/821392922485981204/eddit.png");
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  height: 5rem;
  width: 62rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  z-index: 2;
}

.topBar {
  position: absolute;
  background-color: rgba(46, 139, 86, 0.753);
  width: 64.5rem;
  /* left: 50%;
  margin-left: -32.25rem; */
  margin-top: 0.2rem;
  height: 4.5rem;
  display: flex;
  z-index: -1;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.733);
  border-radius: 5px;
}

.nav p {
  font-size: 1.5rem;
  font-weight: 100;
  margin: auto;
  margin-right: 2rem;
  text-shadow: 2px 2px 2px black;
}

.nav p a {
  text-decoration: none;
  color: rgb(233, 220, 161);
  transition: 0.3s;
}

.nav p a:hover {
  color: rgb(161, 220, 224)
}

.colorBG {
  position: absolute;
  /* height: 1175px;  */
  height: 2000px; 
  width: 65rem;
  display: flex;
  background-color: rgba(73, 66, 29, 0.911);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.609);
  z-index: 0;
  border: 5px solid rgba(0, 0, 0, 0.075);
}

#title {
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Redressed', cursive;
  text-shadow: rgb(0, 0, 0) 0px 4px 2px;
  display: flex;
  margin: auto;
  margin-left: 0rem;
  margin-top: 0.6rem;
  color: rgb(235, 227, 204);
}

.plus {
  color: rgb(161, 220, 224);
}

#titleShield {
  background-image: url("https://wiki.guildwars.com/images/e/e1/BattleIslesMission.png");
  background-size: contain;
  height: 73px;
  width: 73px;
  margin-top: -0.35rem;
}

#hamburger {
  font-size: 3rem;
  margin: auto;
  margin-right: 1rem;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  display: none;
}

/* .post1 {
  margin: auto;
  background-image: url("https://cdn.discordapp.com/attachments/309107283911245825/819352815565668362/Ascalon_waymaker_1.png");
  background-size: cover;
  width: 20rem;
  height: 20.5rem;
  margin-left: -19.7rem;
  margin-top: 8rem;
  z-index: -1;
} */

.credit {
  position: absolute;
  left: 50%;
  margin-top: 119.5rem;
  font-size: 0.8rem;
  z-index: 1;
  background-color: rgba(46, 139, 86, 0.753);
  width: 64.5rem;
  height: 4.5rem;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.699);
}

.credit a {
  margin: auto;
  text-decoration: none;
}

#main {
  width: 58.3rem;
  height: 750px;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: auto;
  margin-top: -4.5rem;
  z-index: 1;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.589);
}


.shield {
  background-image: url("https://cdn.discordapp.com/attachments/309107283911245825/819362549945335858/250px-Crude_Shield.png");
  background-size: contain;
  width: 8rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  z-index: 10;
}

.overMap {
  width: 100%;
  height: 100%;
  background-image: url("https://preview.redd.it/fcyegri4vgl41.jpg?width=1200&format=pjpg&auto=webp&s=5df589ceca21a0a02bcf6a233201db5e1fe91889");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 0rem;
  border: 5px solid rgba(216, 189, 127, 0.76);
}

.overNames {
  position: absolute;
  width: 939px;
  height: 750px;
  border-radius: 5px;
  margin-top: -47.2rem;
  margin-left: -0rem;
}

.towns {
  text-shadow: 3px 3px 2px black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
}

.towns p {
  color: rgb(233, 220, 161);
}

.northLands {
  position: absolute;
  font-weight: lighter;
  font-size: 1rem;
  width: 7rem;
  left: 50%;
  margin-left: 2rem;
  margin-top: 20rem;
  text-align: center;
}

#ascalon {
  margin-left: 33rem;
  margin-top: 25rem;
}

#ashfordAbbey {
  margin-left: 25.5rem;
  margin-top: 29.5rem;
} 

#baradinEstate {
  margin-left: 15.7rem;
  margin-top: 28.3rem;
}

#fortRanik {
  margin-left: 43.5rem;
  margin-top: 35.5rem;
}

#foblesFair {
  margin-left: 23rem;
  margin-top: 36.5rem;
}

.citycon {
  background-image: url("https://wiki.guildwars.com/images/0/0e/TownIcon.png");
  background-repeat: no-repeat;
  width: 57px;
  height: 57px;
  margin: auto;
  margin-left: 2rem;
}

.towncon {
  background-image: url("https://wiki.guildwars.com/images/2/23/OutpostIcon.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: auto;
}

/* catacombs */

#catacombs {
  opacity: 0;
  background-color: black;
  width: 58.1rem;
  height: 36.5rem;
  margin-top: 5.5rem;
  position: absolute;
  pointer-events: none;
  left: 50%;
  margin-left: -29.3rem;
  display: flex;
  z-index: 10;
  transition: 1s;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06819abc-8032-472f-8292-deb057e1c3fc/d57qhtd-2e3ea745-eba9-4345-90bf-84e92668b8c1.jpg/v1/fill/w_720,h_960,q_75,strp/charr_necromancer_by_azurewyvern_d57qhtd-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05NjAiLCJwYXRoIjoiXC9mXC8wNjgxOWFiYy04MDMyLTQ3MmYtODI5Mi1kZWIwNTdlMWMzZmNcL2Q1N3FodGQtMmUzZWE3NDUtZWJhOS00MzQ1LTkwYmYtODRlOTI2NjhiOGMxLmpwZyIsIndpZHRoIjoiPD03MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.DG0ZSNinX8tSBd8tR16HOlEGidD9qalvnB77axnigFo");
  background-size: auto;
  background-repeat: no-repeat;
  border: 5px solid rgba(216, 189, 127, 0.76);
}

#catacombsImg {
  margin: auto;
  border-left: 2px solid rgba(216, 189, 127, 0.76);
}

#catacombsMark {
  position: absolute;
  font-size: 1rem;
  font-size: 2rem;
  left: 51rem;
  top: 5rem;
  animation: mark;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: greenyellow;
}

@keyframes mark {
  0% {
    transform: rotate(-360deg);
    font-size: 1rem;
    top: 5.5rem;
    left: 51.5rem;
  } 50% {
    transform: rotate(0deg);
    font-size: 2rem;
    top: 5rem;
    left: 51rem;
  } 100% {
    transform: rotate(-360deg);
    font-size: 1rem;
    top: 5.5rem;
    left: 51.5rem;
  }
}

#catacombsText {
  height: 100%;
  transition: 1s;
  margin: auto;
  color: rgba(255, 255, 255, 0.925);
  background-color: rgba(0, 0, 0, 0.74);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

#catacombsButton {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  background-color: silver;
  color: black;
  position: absolute;
  left: 38rem;
  top: 43.5rem;
  border-radius: 10px;
  z-index: 10;
  font-family: 'Redressed', cursive;
  border: 2px solid black;
  text-decoration: underline;
  transition: 0.5s;
}
#catacombsButton:hover {
 background-color: black;
 color: white;
 border: 2px solid white;
}

#catacombs a {
  position: absolute;
  margin-left: 2rem;
  margin-top: 33rem;
  font-size: 0.9rem;
}

#catacombs a:hover {
  color: rgb(161, 220, 224);
}

/* stones */
.stones {
  font-family: 'Redressed', cursive;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0.2rem;
  right: 1rem;
  background-color: tan;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.726);
}

.stones p, #fireStone, #frostStone {
  padding: 0.33rem;
}

.stones p {
 font-weight: bold;
 margin: auto;
 text-shadow: 1px 1px 1px black;
}

#fireStone {
  color: orangered;
  padding-right: 0;
  padding-left: 0.44rem;
  /* font-weight: bold; */
  opacity: 0.5;
  transition: 0.3s;
  animation-duration: 1s;
  animation-iteration-count: 3;
}
#frostStone {
  /* font-weight: bold; */
  color: aqua;
  padding-left: 0;
  opacity: 0.5;
  transition: 0.3s;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@keyframes obtain {
  0% {
    font-size: default;
  } 50% {
    font-size: 2rem
  } 100% {
    font-size: default;
  }
}



/* explainers */
#explainers {
  position: absolute;
  background-color: tan;
  width: 40rem;
  height: 7.7rem;
  margin: auto;
  left: 50%;
  margin-left: -20rem;
  bottom: 1rem;
  display: grid;
  grid-template-areas: "r t"
                       "r b";
  z-index: 3;
  opacity: 0;
  transition: 1s;
  z-index: 12;
}

.blackBar {
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: black;
  z-index: -1;
}

.blackBar p {
  margin: auto;
  padding-top: 0.3rem;
  width: 7.5rem;
}

#rurik {
  height: 7rem;
  width: 7rem;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/819379558520193024/er2.gif");
  margin: auto;
  margin-left: 0.35rem;
  margin-bottom: 0.9rem;
  margin-top: 0.5rem;
  grid-area: r;
  border-radius: 50%;
  border: 4px solid rgb(41, 41, 41);
}

.explainersText {
  font-weight: 100;
  grid-area: t;
  margin-top: 2.2rem;
  margin-bottom: 0.4rem;
  width: 32rem;
  height: 2.7rem;
  margin-right: 0.3rem;
  color: rgb(26, 26, 26);
  padding: 1.3rem;
  padding-top: 0;
}

.explainersButtons {
  grid-area: b;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1.2rem;
}

.explainersButtons button {
  color: black;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: white;
}
.explainersButtons button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.byeButton {
  margin-right: 0.1rem;
}

.newZoneText {
  text-align: center;
}

.newZoneText:hover {
  color: lightgoldenrodyellow;
  text-decoration: underline;
}

#serenityTemple {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/819366113451573298/outline1.png");
  width: 18rem;
  height: 21rem;
  margin-top: 20rem;
  margin-left: 42rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

#serenityText {
  position: absolute;
  margin-left: 46rem;
  margin-top: 27rem;
  z-index: 5;
  width: 10rem;
  cursor: pointer;
}

#surmiaText {
  position: absolute;
  margin-left: 41rem;
  margin-top: 11rem;
  z-index: 5;
  cursor: pointer;
  width: 6rem;
}

#surmia {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/820029281349533706/outline2.png");
  width: 20rem;
  height: 19rem;
  margin-top: 2rem;
  margin-left: 36rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

#guildHallsText {
  position: absolute;
  margin-left: 18.5rem;
  margin-top: 8.8rem;
  z-index: 5;
  cursor: pointer;
}

#guildHalls {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/821923534552039454/outline3.png");
  width: 22.5rem;
  height: 32rem;
  margin-top: 5rem;
  margin-left: 4.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

#villageText {
  position: absolute;
  margin-left: 6.5rem;
  margin-top: 18rem;
  z-index: 5;
  width: 10rem;
  cursor: pointer;
}

#village {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/822091325461102652/outline5.png");
  margin-top: 10rem;
  width: 22rem;
  height: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

#deldrimor {
  position: absolute;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/822091328296189972/outline4.png");
  margin-top: 38.5rem;
  width: 19rem;
  height: 11rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 3;
  transition: 1s;
}

#deldrimorText {
  position: absolute;
  margin-left: 2rem;
  margin-top: 41.5rem;
  z-index: 5;
  cursor: pointer;
  width: 10rem;
}

.innerHover {
  height: 10rem;
  width: 12rem;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  z-index: 4;
}

.innerHover p {
  margin: auto;
}

.hoverContent {
  font-size: 0;
}

/* details */

#details {
  width: 58.3rem;
  height: 750px;
  font-size: 1.3rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 8.5rem;
  margin-bottom: 2.2rem;
  z-index: 1;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.589);
  border: 5px solid rgba(216, 189, 127, 0.76);
  background-color: white;
  color: black;
}

#detailsOne {
  display: flex;
  color: black;
  text-align: center;
  flex-direction: column;
}

#detailsOne h1 {
  color: black;
  margin: auto;
  margin-top: 1.7rem;
}

#detailsOne p {
  color: black;
  line-height: 2rem;
  font-weight: 100;
}


#detailsOneTop {
  color: black;
  display: flex;
  padding: 2rem;
}

#detailsOne img {
 height: 20rem;
 }

 #detailsOneTop div {
   height: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 #className {
  margin-top: 3rem;
  font-size: 4rem;
  font-family: 'Redressed', cursive;
  font-weight: bold;
 }

 #className:first-letter {
   text-transform: capitalize;
 }

 #classDesc {
   margin-top: -7rem;
 }

 .classButtons {
   position: absolute;
   margin-left: 11rem;
   margin-top: 17rem;
   width: 35rem;
   height: 5rem;
   display: flex;
   padding: 0rem;
   justify-content: space-between;
 }

 .classButton {
  height: 4rem;
  width: 4rem;
 }

 .classButton:hover {
  cursor: pointer;
 }

 #chronomancer {
   background-image: url("images/chronomancer.png");
   background-size: contain;
   border: 2px solid pink;
   opacity: 1;
 }
 #summoner {
  background-image: url("images/summoner.png");
  background-size: contain;
  border: 2px solid teal;
  opacity: 0.5;
 }
 #warrior {
  background-image: url("images/warrior.png");
  background-size: contain;
  border: 2px solid yellow;
  opacity: 0.5;
 }
 #ranger {
  background-image: url("images/ranger.png");
  background-size: contain;
  border: 2px solid lightgreen;
  opacity: 0.5;
 }
 #necromancer {
  background-image: url("images/necromancer.png");
  background-size: contain;
  border: 2px solid green;
  opacity: 0.5;
 }
 #monk {
  background-image: url("images/monk.png");
  background-size: contain;
  border: 2px solid lightskyblue;
  opacity: 0.5;
 }
 #elementalist {
  background-image: url("images/elementalist.png");
  background-size: contain;
  border: 2px solid red;
  opacity: 0.5;
 }
 #mesmer {
  background-image: url("images/mesmer.png");
  background-size: contain;
  border: 2px solid purple;
  opacity: 0.5;
 }

 .detailsOneBottom {
   height: 22.2rem;
 }

 .skillWrapper {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
   grid-gap: 1rem;
   height: 10rem;
   width: 30rem;
   margin: auto;
   margin-top: 4rem;
 }

 .skillWrapper > div {
  padding: 1rem;
}

.skillWrapper > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

 

 .skills {
  border: 4px solid pink;
  background-color: grey;
 }

 .skills p {
   margin: auto;
   margin-top: -1.6rem;
   margin-left: 0.49rem;
   height: 0; width: 0;
 }

 #skillTen p, #skillEleven p, #skillTwelve p {
  margin-left: 0.25rem;
 }



/* problems start after 130 width */
@media (min-width: 1031px) {
    .colorBG {
        left: 50%;
        margin-left: -32.5rem;
    }
    .topBar {
      left: 50%;
      margin-left: -32.25rem;
    }
    .credit {
      margin-left: -32.25rem;
    }
}
@media (max-width: 1030px) {
  .wrapper {
    width: 65rem;
  }
  .topBar {
    width: 62rem;
  }
  .credit {
    left: 4%;
    width: 61rem;
  }
  
} 